/* ProntuarioStyles.css */
.prontuario-wrapper {
    padding: 20px;
  }
  
  .search-bar {
    margin-bottom: 20px;
  }
  
  .search-input {
    width: 100%;
  }
  
  .texto-livre {
    margin-bottom: 20px;
    flex-grow: 1; /* Isso permite que a área de texto ocupe o espaço restante */
    margin-right: 20px; /* Espaço entre a área de texto e os botões */
  }
  
  .historico-prontuario {
    margin-bottom: 20px;
  }
  
  .action-buttons {
    display: flex;
    flex-direction: column; /* Empilha os botões verticalmente */
    justify-content: space-around; /* Distribui igualmente o espaço em torno dos itens */
    flex: 1; /* Faz cada botão crescer igualmente */
    width: 100%; /* Ocupar a largura total */
  }

  .action-buttons button {
    flex: 1; /* Faz cada botão crescer igualmente dentro do container */
    
  }

  .container {
    display: flex;
    justify-content: space-between; /* Isso separa a área de texto dos botões */
    align-items: flex-start; /* Isso alinha os elementos ao topo */
    margin-bottom: 20px; /* Espaço abaixo do container */
  }


  
  
  /* Adicione estilos adicionais conforme necessário */
  